@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    color: #fff;
    transition: .3s;
    background-position: center;
    background-size: cover;
    /* todo set a default bg */
}

body.rain{
    background-image: url(img/rain.jpg);
}

body.mist{
    background-image: url(img/mist.jpg);
}

body.smoke{
    background-image: url(img/smoke.jpg);
}

body.clouds{
    background-image: url(img/clouds.jpg);
}

body.haze{
    background-image: url(img/haze.jpg);
}
body.Thunderstorm{
    background-image: url(img/Thunderstorm.jpg);
}
body.snow{
    background-image: url(img/snow.jpg);
}
body.drizzle{
    background-image: url(img/drizzle.jpg);
}
body.clear{
    background-image: url(img/clear.jpg);
}
body.Dust{
    background-image: url(img/dust.jpg);
}
body.Fog{
    background-image: url(img/fog.jpg);
}
body.Sand{
    background-image: url(img/sand.jpg);
}
body.Ash{
    background-image: url(img/ash.jpg);
}
body.Wind{
    background-image: url(img/wind.jpg);
}
body.Tornado{
    background-image: url(img/tornado.jpg);
}
body.default{
    background-image: url(img/default.jpg);
}


body::-webkit-scrollbar{
    display: none;
}

#weatherMain{
    width: 70vw;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.3);
}

#datas{
    width: 30vw;
    background-color: rgba(0,0,0,0.3);

}

#currentWeather{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
}

#currentWeather h1{
    margin: 0 1rem 0 0;
    font-size: 4.5rem;
    transition: .3s;
}

#currentWeather i{
    font-size: 2.5rem;
    opacity: .8;
}

#loc{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    text-align: center;
}

#loc h2{
    margin: 0;
    font-size: 2.1rem;
}

#loc p{
    margin: 0;
    font-size: 0.7rem;
}

#datas{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* todo do something about backdrop filter on firefox */
/* if supports backdrop filter*/
/* @supports (background-color: rgba(0,0,0,0.1)){
    #datas{
        background-color: rgba(0,0,0,0.6);
    }
} */

#wDetails{
    overflow-y: scroll;
}

#wDetails::-webkit-scrollbar{
    width: 2px;
}

#wDetails::-webkit-scrollbar-thumb{
    background-color: rosybrown;
    border-radius: 20px;
}

#wDetails span{
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    font-size: 0.9rem;
    justify-content: space-between;
}

#wDetails span p:nth-child(1){
    color: #dfdfdf;
}

#search{
    background: none;
    font-size: 1.3rem;
    border: 0;
    color: #fff;
    border-bottom: 1px rgb(185, 185, 185) solid;
    margin: 10px;
}
#search:focus{
    outline: none;
}
#searchAndHistory{
    font-size: 0.8rem;
    height: 10rem;
    margin-top: 1rem;
}
#searchAndHistory ul{
    list-style-type: none;
    margin: 0;
}

#searchAndHistory ul li{
    padding: 0.3rem 1rem;
}

#searchAndHistory a{
    text-decoration: none;
    color: blanchedalmond;
}

#line{
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: blanchedalmond;
    border-radius: 1px;
    opacity: .3;
}

#imgWeather{
    border-radius: 10%;
    background-color: rgba(255, 235, 205, 0.664);
    width: 50px;
    height: 50px    ;
}

.errorMsg{
    position: absolute;
    left: 30%;
    top: 1rem;
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(170, 62, 0);
    color: blanchedalmond;
    text-align: center;
    padding: 5px;
    transform: translateY(-100px);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: erMsg .3s linear forwards;
}

@keyframes erMsg{
    to{
        transform: translateY(0px);
    }
}