@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 2em 0;
    background-image: url(bg.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0%;
}



.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-size: 6em;
    line-height: 1;
    font-weight: bold;
    margin: 1rem  2rem;
}

