@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

h1{
    color:  #FDFFFC;
    font-size: 3rem;
}

.container{
    display: grid;
    grid-template-columns:  repeat(4,250px);
    gap:10px;
    word-wrap: break-word;
    margin: 2rem;
}

.container a{
    border: 2px dotted black;
    text-align: center; 
    background-color: #7f5a8334;
    color : #ffc75f;
    font-size:2rem;
    padding: 20px 20px;
    text-decoration: none;
    transition: .3s;
    height: 250px;
    text-align: center;
    align-items: center;
    opacity: .5;
    border-radius: 20%;
}

.container a:hover{
    background-color:  #7f5a83;
    opacity: 1;
    color : #ffd484;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;


}

.fasAnim{
    position: absolute;
    top: -35px;
    animation: fall linear forwards;
    z-index: -5;   
    color: transparent;
    text-shadow: 0 0 1px #537895df;
}

#gl{
    position: fixed;
    bottom: 10px;
    font-size: 13px;
}

.link{
    margin: 10px ;
}

footer{
    background-color: #7f5a83;
    height: 10vh;
    width: 100vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    color: blanchedalmond;
    align-items: center;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
}

.sm{
    font-size: 1rem;
}

footer span a{
    color: #fff;
    font-size: 2rem;
    margin: 10px;
}

footer span a:hover{
    color: #a3a3a3;
}

.fa-heart{
    color:peachpuff;
}



@keyframes fall{
    to{
        transform: translateY(120vh);
    }
}
@media(max-width:1280px){
    .container{
        grid-template-columns:  repeat(3,250px);
    }
}

@media(max-width:980px){
    .container{
        grid-template-columns:  repeat(2,250px);
    }
}


@media(max-width:650px){
    .container{
        grid-template-columns:  repeat(1,250px);
    }
    h1{
        font-size: 1.5rem;
    }
}