@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

    flex-direction: column;
}

h1{
    color:  #FDFFFC;
    font-size: 3rem;
}

a{
    color : #A44A3F;
    font-size: 1.5rem;
    padding: 0.4rem 0rem;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color:  #2274A5;

}
.container{
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.items{
    margin-top: 2rem;
}

.p1{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 70vh;
}

.num{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aff6cf;
    border-radius: 50%;
    font-size: 1.3rem;
    /* transform: translateX(-59%); */
}

.vLine{
    background-color: #aff6cf;
/* background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%); */
    height: 100vh;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    left: 405px;
    z-index: -1;
    /* box-shadow: #0D0106 2px 10px 1px 1px; */
}

.hLine{
    margin: 0;
    height: 10px;
    width: 150px;
    background-color: #aff6cf;
    position: absolute;
    top: 150px;
}

#mainC{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#app{ 
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}

#anim{
    display: flex;
    flex-direction: column;
}

h3{
    color: #537895;
}

.linkC{
    background-color: #0D0106;
    border: 0;
    border-radius: 2rem;
    height: 70vh;
    width: 50vh;
    margin: 0 3rem;
    overflow: scroll;
    transition: .3s;
}

.linkC:hover{
    height: 71vh;
    width: 51vh;
}

.linkC::-webkit-scrollbar{
    display: none;
}

.fas{
    position: absolute;
    top: -35px;
    animation: fall linear forwards;
    z-index: -5;   
    /* color: #537895; */
    color: transparent;
    text-shadow: 0 0 1px #537895df;
}

#gl{
    position: fixed;
    bottom: 10px;
    font-size: 13px;
}


@keyframes fall{
    to{
        transform: translateY(120vh);
    }
}