@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    
}

h1{
    color:  #0E1116;
    font-size: 3rem;
}

a{
    color : #A44A3F;
    font-size: 1.5rem;
    padding: 0.4rem 0rem;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color:  #2274A5;

}
.container{
    display: flex;
    flex-direction: column;
}

#mainC{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#app{ 
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}

#anim{
    display: flex;
    flex-direction: column;
}

h3{
    color: #537895;
}

.linkC{
    background-color: #0D0106;
    border: 0;
    border-radius: 2rem;
    height: 70vh;
    width: 50vh;
    margin: 0 3rem;
    overflow: scroll;
    transition: .3s;
}

.linkC:hover{
    height: 71vh;
    width: 51vh;
}

.linkC::-webkit-scrollbar{
    display: none;
}

.fas{
    position: absolute;
    top: -35px;
    animation: fall linear forwards;
    z-index: -5;   
    /* color: #537895; */
    color: transparent;
    text-shadow: 0 0 1px #537895df;
}

#gl{
    position: fixed;
    bottom: 10px;
    font-size: 13px;
}

@keyframes fall{
    to{
        transform: translateY(120vh);
    }
}