@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: .3s ease;
    background-color: #a88beb;
    overflow: hidden;
}

body.dark{
    background-color: #080816;
}


#container{
    height: 560px;
    width: 300px;
    justify-content: center;
    align-items: center ;
    transition: .3s ease;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    padding: 5px 22px;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

#container.dark{
    background-color: #0cbaba;
    background-image: linear-gradient(300deg, #181818  0%,#0d022c  90%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    color: #F5EFED;
}

h3{
    margin: 10px 0 0 0;
    padding-top: 5px;
    font-size: 0.81rem;
    position: absolute;
    transform: translate(0,0);
}

.floatLol{
    animation: headlol forwards .3s linear;
}

h3.dark{
    color: rgb(177, 177, 177);
}

#dispBox{
    background-color: rgba(31, 31, 31, 0)00;
    height: 145px;
    /* width: 90%; */
    margin: 0rem 1rem 0 1rem;
    position: relative;
}

#history{
    /* background-color: brown; */
    position: absolute;
    top: 3.5rem;
    /* width: 100%; */
    height: 3rem;
    right: 1rem;
    padding: 5px;
}

#answer{
    position: absolute;
    /* background-color: chartreuse; */
    font-size: 3rem;
    bottom: 0rem;
    right: 1rem;
    overflow: scroll;
    /* width: 256px; */
}

#answer::-webkit-scrollbar{
    display: none;
}

#themeSetting{
    padding: 10px;
    height: 50px;
    
}

#themeSetting span{
    font-size: 10px;
}

#theme{
    position: absolute;
    opacity: 0;
}

#ckLabel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    background-color: #242424;
    width: 60px;
    height: 30px;
    border-radius: 50px;
}

#ball{
    height: 25px;
    width: 30px;
    position: absolute;
    border-radius: 15px;
    background-color:#C5BAAF;
    transform: translateX(22px);
    transition: transform .5s cubic-bezier(0.21, 0.68, 0, 1.48);
}

#theme:checked + #ckLabel #ball{
    transform: translateX(0px);
}

.fa-sun{
    color: darkgoldenrod;
}

.fa-moon{
    color: #fff;
    padding-left: 10px;
}

#btns{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 320px;
    
}

#btns button.dark{
    color: seashell;
    box-shadow: 0 0 1px 2px rgba(255, 255,255, 0.1);

}

#btns button{
    font-size: 2rem;
    margin: 3px;
    padding: 5px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 45% ;
    transition: .2s ease-in;
    box-shadow: 0 0 2px 2px rgba(31, 29, 29, 0.1);

}

#btns button.dark:hover{
    background-color: rgba(255,255,255,0.1);

}


#btns button:hover{
    background-color: rgba(22, 22, 22, 0.859);
    color: seashell;
    
}

#btns button:focus{
    outline: 0;
}

#backspace{
    font-size: 1.5rem !important;
}

.ylwBtn{
    background-color: #FFA0701a !important ;
}

.ylwBtn:hover{
    background-color: #ffa07075 !important ;

}
.prpBtn{
    background-color: #483D891a !important;
}

.prpBtn:hover{
    background-color: #483D89 !important;
}

#equals{
    background-color: #64F58D !important; 
}

@keyframes headlol{
    to{
        transform: translate(0,700px);
    }
}