@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Brygada 1918", serif;
    margin: 0;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #eeeeee;
}


.container{
    background-color: #393e46;
    width: 400px;
    max-width: 100%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
}

.header{
    text-align: start;
    font-size: 1.5rem;
    padding-left: 10px;
}

.form-control{
    padding: 10px;
    padding-bottom: 12px;
    position: relative;
}

.form-control input{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #393e46;
    border-radius: 3px;
}

.form-control input:focus{
    outline: 0;
}

.form-control.error input{
    color: #e74c3c;
    border: 2px solid #e74c3c;
}

.form-control.success input{
    color: #2ecc71;
    border: 2px solid #2ecc71;
}

.form-control label{
    display: inline-block;
    padding-bottom:5px;
    padding-left: 4px;
}

.form-control i{
    position: absolute;
    top: 47px;
    right: 20px;
    visibility: hidden;
}

.form-control.error i.fa-times{
    color: #e74c3c;
    visibility: visible;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 14px;
    visibility: hidden;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

.form button{
    /* padding: 5px 10px; */
    background-color: #222831;
    border: 2px solid #222831;
    border-radius: 4px;
    color: #eeeeee;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;        
}

.messageBox{
    background-color: #2ecc71;
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    transform: translateY(-100px);
    transition: transform 1s ease-in-out;
}

.messageBox.open{
    transform: translateY(0px);
}