@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Syne", sans-serif;
    margin: 0;
    background-color: #3B325D;
    background: linear-gradient(to right, #3b325d 0%, #21183e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

h1{
    font-size: 2rem;
    color:white;
}
.pwContainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #50437e;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* z-index: 1; */
}

.form-controll{
    display: flex;
    color: blanchedalmond;
    /* color: #EAE8FF; */
    justify-content: space-between;
    cursor: pointer;
}

.pw-body{
    padding: 20px 0;
}

.pwHeader{
    background-color: #2A2442;
    height: 3rem;
    font-size: 1.4rem;
    display: flex;
    position: relative;
    color: blanchedalmond;
    padding: 10px;
}

.pwHeader button{
    background-color: #CCFF66;
    border: 0;
    padding: 5px;
    position: absolute;
    right:0;
    top:0;
    transform: translate(0,-100%);
    color: #000;
    opacity: 0;
    transition: opacity .3s ease-in, transform .3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
}

.pwHeader:hover button{
    opacity: 1;
    transform: translate(0, -0%);
}

.pwHeader button:hover {
    background-color: #FFDD4A;
}

button:focus{
    outline: none;
}

#generateBtn{
    padding: 10px;
    background-color: #CCFF66;
    outline: none;
    border: 0;
    border-radius: 3px;
    color: #2A2442;
    cursor: pointer;
}

#generateBtn:hover{
    background-color: #FFDD4A;
}

.messageBox{
    display: flex;
    margin-top: 10px;
    position: absolute;
    top: 0;
    width: 25rem;
    height: 3rem;
    color:blanchedalmond;
    justify-content: space-between;
    border-radius: 3px;
    transform: translate(0,-150%);
    /* z-index: 0; */
    animation: messageAnim 1s ease-in-out forwards;
}

.mBoxPos{
    background-color: #297045;
}

.mBoxNeg{
    background-color: brown;
}

#messageTxt{
    padding: 10px;
}

#cross{
    cursor: pointer;
    background-color: #297045;
    border: 0;
    text-align: center;
    padding: 10px;
    transition: .3s ;
}

#cross:hover{
    background-color: brown;
    border-radius:3px;
}

#pass{
    overflow: scroll;
}
.mAnim{
    animation: messageAnimOut 1s linear backwards;
}

@keyframes messageAnim{
    to{
        transform: translate(0, 180%);
    }
}

#pass::-webkit-scrollbar{
    display: none;
}